@import "~flexboxgrid/css/flexboxgrid.min.css";

html, body, #app-main {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.content {
  margin-top: 50px;
}

[hidden] {
  display: none !important;
}