<div>
    <menu-navbar></menu-navbar>
    <div class="start-menu">
        <img class="start-menu__logo" src="/assets/img/logo.png">
        <div class="start-menu__actions">
            <router-link to="/game?type=singleplayer">
                <div class="start-menu__action start-menu__action--singleplayer">
                    <img src="/assets/img/user.svg">
                    <span>Singleplayer</span>
                </div>
            </router-link>
            <router-link to="/game?type=multiplayer">
                <div class="start-menu__action start-menu__action--multiplayer">
                    <img src="/assets/img/group.svg">
                    <span>2 players</span>
                </div>
            </router-link>
            <!-- <router-link to="/game?type=online">
                <div class="start-menu__action start-menu__action--online">
                    <img src="/assets/img/internet.svg">
                    <span>Play online</span>
                </div>
            </router-link> -->
        </div>
    </div>
</div>