.start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-menu__logo {
    height: 250px;
    width: 250px;
    margin: 50px;
    z-index: 1;
}

.start-menu__actions {
    position: relative;
    top: -180px;
    width: 350px;
    height: 300px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.start-menu__actions a {
    text-decoration: none;
}

.start-menu__action {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

.start-menu__action:hover {
    filter: brightness(110%);
}

.start-menu__action img {
    height: 30px;
    margin-right: 15px;
}

.start-menu__action--singleplayer {
    background-color: #cbad92;
}

.start-menu__action--multiplayer {
    background-color: #d39e6d;   
}

.start-menu__action--online {
    background-color: #c7864b;
}