.navbar {
    background-color: #d0a681;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    padding: 0 10px;
    cursor: pointer;
}

.navbar__title {
    margin: 0;
}

.navbar__title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
