<div>
    <div v-for="(row, y) in board" class="board__row">
        <div v-for="(piece, x) in row" class="board__field">
            <piece v-if="piece" 
                   v-bind:type="piece.type" 
                   v-bind:color="piece.color" 
                   v-bind:king="piece.king" 
                   @click.native="pieceClicked($event, piece)"
            ></piece>
        </div>
    </div>
</div>