.board__row {
    display: flex;
}

.board__field {
    height: 12vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__row:nth-child(even) .board__field:nth-child(even),
.board__row:nth-child(odd) .board__field:nth-child(odd),
 {
    background-color: #ffdeb3;
}

.board__row:nth-child(even) .board__field:nth-child(odd),
.board__row:nth-child(odd) .board__field:nth-child(even) {
    background-color: #4a2703;
}