<div class="game">
    <navbar v-bind:active-color="activeColor" v-on:resign="resign"></navbar>
    <div class="game-container row center-xs">
        <div class="board col-xs-12 col-sm-10 col-md-8 col-lg-5">
            <board ref="board" v-on:piece-moved="pieceMoved" v-on:piece-clicked="pieceClicked"></board>
        </div>
    </div>

    <div class="endgame" v-bind:hidden="!gameFinished">
        <div class="overlay"></div>
        <div class="endgame__modal">
            <img class="endgame__logo" src="/assets/img/logo.png">
            <div class="endgame__dialog">
                <div class="endgame__text"><span v-bind:class="winner">{{winner}}</span> has won!</div>

                <router-link to="/">
                    <div class="start-menu__action start-menu__action--multiplayer">
                        <img src="/assets/img/menu2.svg">
                        <span>Back to menu</span>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</div>