.game-container {
    margin: 0;
}

.board {
   display: flex;
   flex-direction: column;
   justify-content: center; 
   box-shadow: 0px 2px 5px 0px rgba(143,143,143,1);
   padding: 0;
   order: 1;
}

.match-details {
    order: 2;
}

.match-details__card {
    padding: 10px;
    margin: 30px 10px 10px 10px;
    background-color: #4b2200;
    border-top: 10px solid #d3a881;
    border-left: 10px solid #95663c;
    border-right: 10px solid #95663c;
    border-bottom: 10px solid #d3a881;
    color: white;
    text-align: center;
}

.match-details__active {
    width: 100px;
    height: 100px;
}

.match-details__reset {
    background-color: #ffe0b4;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.match-details__reset:hover {
    background-color: #fff9f0;
}

.endgame {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endgame__modal {
    z-index: 3;
}

.endgame__logo {
    position: relative;
    height: 250px;
    width: 250px;
    margin: 50px;
    z-index: 1;
}

.endgame__dialog {
    position: relative;
    top: -180px;
    width: 350px;
    height: 380px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: normal;
}

.endgame__dialog a {
    text-decoration: none;
}

@media screen and (min-width: 48em) {
    .board__field {
        height: 10vw;
    }
}

@media screen and (min-width: 62em) {
    .board__field {
        height: 8vw;
    }
    .match-details {
        order: 0;
    }
    .match-details__card {
        margin-top: 0;
        border-top: none;
    }
}

@media screen and (min-width: 75em) {
    .board__field {
        height: 5vw;
    }
}

.endgame__text {
    font-size: 2em;
    text-align: center;
    margin-bottom: 6rem;
}

.endgame__text > .black, .endgame__text > .red {
    font-weight: bold;
}

.endgame__text > .black {
    color: #d2d2d2;
}

.endgame__text > .red {
    color: #fb4848;
}