<div>
  <div class="overlay" v-show="menuOpened">

  </div>
  <nav class="navbar">
    <div class="navbar__logo">
      <router-link to="/">
        <img src="/assets/img/logo-s.png">
      </router-link>
    </div>
    <div class="navbar__timer">
      <div class="navbar__piece">
        <div :class="activeColor"></div>
      </div>
      <div>
        {{time}}
      </div>
    </div>
    <div class="navbar__actions">
      <div class="navbar__action navbar__action--pause" v-on:click="pauseTimer">
        <img v-show="timerRunning" src="/assets/img/pause.svg">
        <img v-show="!timerRunning" src="/assets/img/play.svg">
      </div>
      <div class="navbar__action navbar__action--resign" v-on:click="resign">
        <img src="/assets/img/flag.svg">
      </div>
      <!-- <div class="navbar__action navbar__action--menu" v-on:click="toggleMenu">
        <img src="/assets/img/menu.svg">
      </div> -->
    </div>

    <div class="menu" :class="determineMenuClass(menuOpened)">
      menu
    </div>
  </nav>
</div>