.navbar {
    position: relative;
    z-index: 2;
    background-color: #d0a681;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    padding: 0 10px;
    cursor: pointer;
}

.navbar__logo img {
    height: 64px;
}

.navbar__timer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__timer > div {
    flex: 1;
}

.navbar__piece > div {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    float: right;
}

.navbar__piece > div.red {
    background-color: #fb4848;
}

.navbar__piece > div.black {
    background-color: #d2d2d2;
}

.navbar__actions {
    height: 100%;
    margin-right: 10px;
    display: flex;
}

.navbar__action {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__action:hover {
    filter: brightness(110%);
}

.navbar__action--pause {
    background-color: #cbad92;
}

.navbar__action--resign {
    background-color: #d39e6d;   
}

.navbar__action--menu {
    background-color: #c7864b;
}

.navbar__action img {
    width: 40px;
    height: 40px;
}

.menu {
    position: fixed;
    top: 80px;
    right: 0;
    background-color: white;
    z-index: -1;
    height: 100vh;
    transition: width .3s;
}

.menu--closed {
    width: 0;
}

.menu--open {
    width: 300px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}