.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    cursor: pointer;
}

.piece.red {
    background-color: #fb4848;
}

.piece.red:hover {
    background-color: #ff7777;
}

.piece.black {
    background-color: #d2d2d2;
}

.piece.black:hover {
    background-color: #e9e8e8;
}

.piece.option {
    background-color: #91caa0;
    width: 40%;
    height: 40%;
}

.piece__king {
    height: 50%;
}

.piece.red .piece__king polygon {
    fill: #ffd656;
}

.piece.black .piece__king polygon {
    fill: #46433e;
}